<script type='javascript/template' id="attack_menu-template">
  <div id="attack_menu" class='container'>
    <div class="media col-xs-12">
      <a class="pull-left" href="#"> <img class="media-object img-circle" alt="..."> </a>
      <div class="media-body">
        <h4 class="media-heading"><span class='battlefield-officer'></span></h4>
        <div class='span-xs-12'>&nbsp; war <div class="battlefield-officer-war pull-right"></div></div>
        <div class='span-xs-12'>&nbsp; loyalty <div class="battlefield-officer-loyalty pull-right"></div></div>
        <div class='span-xs-12'>&nbsp; intelligence <div class="battlefield-officer-intelligence pull-right"></div></div>
        <div class='span-xs-12'>&nbsp; leadership <div class="battlefield-officer-leadership pull-right"></div></div>
        <div class='span-xs-12'>&nbsp; troops <div class="battlefield-officer-troops pull-right"></div></div>
      </div>
    </div>
    <br />
    <button data-action='charge' width="100" type='button' class='btn'>charge</button>
    <button data-action='assault' width="100" type='button' class='btn'>normal</button>
    <button data-action='dual' width="100" type='button' class='btn'>dual</button>
    <button data-action='bribe' width="100" type='button' class='btn'>bribe</button>
    <button data-action='close' width="100" type='button' class='btn btn-danger' >x</button>
  </div>
  <div id="enemy_troop_count" class='animated' style="z-index: 1; position: absolute; background-color: black; color:#FFF; width:40px; height:40px; padding: 5px; visibility: hidden;"> 
    <span>100</span>
  </div>
</script>
