<script type='template/javascript' id='civil-details-template'>
  <div class='media col-md-12 animated report-view form-group'>
    <label class='form-label pull-left'>{{details}}</label>
    <div class='col-xs-12'>
      <input id='civil_value' type='text' class='form-control' />
    </div>
  </div>
</script>

<script type='template/javascript' id='civil-index-template'>
  <h5>civil</h5>
  <div class='col-sm-12 clearfix'>
    <button class='btn general_assignment_form-civil' data-action='give rice to the people' data-details="give how much rice?" type='button'>give rice</button>
    <button class='btn general_assignment_form-civil' data-action='give gold to the people' type='button' data-details="give how much gold?">give gold</button>
    <button class='btn general_assignment_form-civil' data-action='tax the people' type='button' data-details="set the tax rate:">tax</button>
    <button class='btn general_assignment_form-civil' data-action='patrol for the people' type='button'>patrol</button>
  </div> 
</script>

<script type='template/javascript' id='civil-container-template'>
  <div class='col-md-12'>
    <div id='generals_list' class='well col-xs-12 container'>
    </div>

    <div id='civil_details'>
    </div>

    <button class='btn btn-primary implement-{{action}}' type='button'>{{button}}!</button>
  </div>
</script>

<script type='template/javascript' id='civil-general-template'>
  <div class="media col-xs-6 col-md-4 col-lg-3 animated report-view">
    <a class="pull-left" href="#"> <img class="media-object" src="{{general.avatar}}" alt="..."> </a>
    <div class="media-body">
      <h4 class="media-heading">{{general.surname}} {{general.given_name}}</h4>
      {{attribute.name}}: {{attribute.value}}
      <input type='checkbox' data-value="{{general.id}}"/>
    </div>
  </div>
</script>
