<script type='template/javascript' id='diplomacy-index-template'>
  <h5>diplomacy</h5>
  <div class='col-sm-12 clear-fix'>
    <h5> open </h5>
    <button class='btn disabled' type='button'>ally</button>
    <button class='btn disabled' type='button'>threat</button>
    <button class='btn disabled' type='button'>marry</button>
    <button class='btn disabled' type='button'>gift</button>
    <button class='btn disabled' type='button'>mediate</button>
    <button class='btn disabled' type='button'>instigate</button>
  </div> 

  <div class='col-sm-12 clear-fix'>
    <h5> covert </h5>
    <button class='btn disabled' type='button'>assassinate</button>
    <button class='btn disabled' type='button'>kidnap</button>
    <button class='btn disabled' type='button'>request prisoner release</button>
    <button class='btn disabled' type='button'>prison break</button>
  </div> 

</script>
