<script type='template/javascript' id='move-index-template'>
  <h5>move</h5>
  <div class='col-sm-12 clearfix'>
    <button class='btn disabled' type='button'>generals</button>
    <button class='btn disabled' type='button'>resources</button>
  </div> 
</script>
