<script type='template/javascript' id='personel-index-template'>
  <div class='col-sm-12 clearfix'>
    <h5>personel</h5>
    <div class='col-sm-12 clearfix'>
      <button class='btn disabled' type='button'>release</button>
      <button class='btn disabled' type='button'>recruit</button>
      <button class='btn disabled' type='button'>tutor</button>
      <button class='btn disabled' type='button'>train</button>
      <button class='btn disabled' type='button'>behead</button>
      <button class='btn disabled' type='button'>view</button>
    </div> 
  </div> 
</script>
