<script type='javascript/template' id="unit_menu-template">
  <div id="unit_menu" class='container'>
    <div class="media col-xs-12">
      <a class="pull-left" href="#"> <img class="media-object img-circle" alt="..."> </a>
      <div class="media-body">
        <h4 class="media-heading"><span class='battlefield-officer'></span></h4>
        <div class='span-xs-12'><div class='pull-left col-xs-6'>&nbsp; war </div><div class=" col-xs-6 battlefield-officer-war pull-right"></div></div>
        <div class='span-xs-12'><div class='pull-left col-xs-6'>&nbsp; loyalty </div><div class="col-xs-6 battlefield-officer-loyalty pull-right"></div></div>
        <div class='span-xs-12'><div class='pull-left col-xs-6'>&nbsp; intelligence </div><div class="col-xs-6 battlefield-officer-intelligence pull-right"></div></div>
        <div class='span-xs-12'><div class='pull-left col-xs-6'>&nbsp; leadership </div><div class="col-xs-6 battlefield-officer-leadership pull-right"></div></div>
        <div class='span-xs-12'><div class='pull-left col-xs-6'>&nbsp; troops </div><div class="col-xs-6 battlefield-officer-troops pull-right"></div></div>
      </div>
    </div>
    <br />
    <div class="col-xs-12">
      <!--button data-action='wait' width="100" type='button' class='btn'>wait</button-->
      <button data-action='skip-turn' width="100" type='button' class='btn btn-warning pull-left' >skip turn</button>
      <button data-action='close' width="100" type='button' class='btn btn-danger pull-right' >x</button>
    </div>
  </div>
</script>
