<h5>military</h5>
<div class='col-sm-12 clearfix'>
  <button class='btn' type='button'>Conscript Troops</button>
  <button class='btn' type='button'>Draft Troops</button>
  <button class='btn' type='button'>Train Troops</button>
  <button class='btn' type='button'>Equip Troops</button>
  <button class='btn' type='button'>Invade</button>
  <button class='btn' type='button'>Reinforce</button>
</div>
