<h5> Move </h5>
<div class='col-sm-12 clearfix'>
  <button class='btn' type='button'>Move Resources</button>
  <button class='btn' type='button'>Move Officers</button>
  <button class='btn' type='button'>Move Prisoners</button>
</div>
