<nav>
  <ul id='navigation_view' class='nav nav-pills nav-stacked col-sm-2'>
    <li data-view='civil' class='new-view text-center animated bounce'><a href='#'>civil</a></li>
    <li data-view='development' class='new-view text-center animated bounce'> <a href='#'>development</a></li>
    <li data-view='diplomacy' class='disabled new-view text-center animated bounce'>   <a href='#' data-toggle='tooltip' title='Requires Map' data-content='Not Implemented Yet'>diplomacy</a></li>
    <li data-view='info' class='disabled new-view active text-center animated bounce'> <a href='#' data-toggle='tooltip' title='Requires Map' data-content='Not Implemented Yet'>info</a></li>
    <li data-view='market' class='new-view text-center animated bounce'>      <a href='#'>market</a></li>
    <li data-view='military' class='new-view text-center animated bounce'>    <a href='#' data-toggle='tooltip' title='Requires Map' data-content='Not Implemented Yet'>military</a></li>
    <li data-view='move' class='disabled new-view text-center animated bounce'>        <a href='#' data-toggle='tooltip' title='Requires Map' data-content='Not Implemented Yet'>move</a></li>
    <li data-view='personel' class='disabled new-view text-center animated bounce'>    <a href='#' data-toggle='tooltip' title='Requires Map' data-content='Not Implemented Yet'>personel</a></li>
  </ul>
</nav>
