<h5>civil</h5>
<div class='col-sm-12 clearfix'>
  <button class='btn' type='button'>give rice</button>
  <button class='btn' type='button'>give gold</button>
  <button class='btn' type='button'>tax</button>
  <button class='btn' type='button'>patrol</button>
</div> 
