<h5>development</h5>
<div class='col-sm-12 clearfix'>
  <button class='btn' type='button'>land</button>
  <button class='btn' type='button'>flood</button>
  <button class='btn' type='button'>fire</button>
  <button class='btn' type='button'>earthquake</button>
</div> 
