<h5>diplomacy</h5>
<div class='col-sm-12 clear-fix'>
  <button class='btn' type='button'>ally</button>
  <button class='btn' type='button'>threat</button>
  <button class='btn' type='button'>marry</button>
  <button class='btn' type='button'>gift</button>
  <button class='btn' type='button'>assassinate</button>
  <button class='btn' type='button'>request prisoner release</button>
  <button class='btn' type='button'>prison break</button>
  <button class='btn' type='button'>kidnap</button>
  <button class='btn' type='button'>mediate</button>
  <button class='btn' type='button'>instigate</button>
</div> 
