    <%
      province = {
        prefect: 'zhang Liao',
        advisor: 'xun yu',
        populace: '1,000,000',
        loyalty: '95%',
        safety: '87%',
        gold: '10,583',
        rice: '100,381',
        troops: '100,000',
        generals: '02',
        free_generals: '00',
        castle_defenses: '60%',
        land: '90%',
        flood: '10%',
        earthquake: '01%',
        fire: '00%',
        merchants_present: 'yes',
      }
    %>
    <div class="media col-xs-12">
      <a class="pull-left" href="#"> <img class="media-object img-circle" src="assets/avatar-zhang_liao.jpeg" alt="..."> </a>
      <div class="media-body">
        <h4 class="media-heading">prefect: <span><%=province[:prefect]%></span></h4>
        leadership: 95%
        war: 91%
      </div>
    </div>

    <div class="media col-xs-12">
      <a class="pull-left" href="#"> <img class="media-object img-circle" src="assets/avatar-xun-yu.jpeg" alt="..."> </a>
      <div class="media-body">
        <h4 class="media-heading">advisor: <span><%=province[:advisor]%></span></h4>
        intelligence: 95%
        politics: 95%
      </div>
    </div>

    <div id='view-content' class='col-xs-12 row-fluid animated'>
    </div>
