<div id="game_container">
  <div id="attack_menu-container" class='container' style="z-index: 1; position: absolute; visibility: hidden;">
  </div>
  <canvas id='game_map' width='800px' height='672px'>
  </canvas>
</div>
