<h5>market</h5>
<div class='col-sm-12 clearfix'>
  <button class='btn' type='button'>Buy Rice</button>
  <button class='btn' type='button'>Buy Horses</button>
  <button class='btn' type='button'>Buy Arms</button>
  <button class='btn' type='button'>Sell Rice</button>
  <button class='btn' type='button'>Sell Horses</button>
</div>
