@font-face {
  font-family: 'Feathergraphy Decoration';
  src: url('Feathergraphy2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Star Jedi Hollow';
  src: url('Starjhol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sketch Rockwell';
  src: url('SketchRockwell-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
