#viewports { 
  position:absolute; 
  margin-top: 100px;
  margin-bottom: 100px;
  border:4px solid #000; 
  background-color:#3090C7; 
  width:640px; 
  height:484px;
}

#map-canvas {
  height: 320px;
}
